        <h3 class="mt-2">Mas productos</h3>
        <div class="card">
            <ul class="list-group">
                    {% for product in list %}
                        <a class="list-group-item list-group-item-action" href="{% url 'products:product' product.slug %}">
                            <span class="fw-bolder">{{ product.title }}</span>
                            <span class="fw-light">{{ product.description }}</span>
                        </a> 
                    {% endfor %}
            </ul>
        </div>