<div class="card mt-3 h-100" style="">
    <div class="product-1 align-items-center p-2 text-center">
        <img src="{{ product.image.url }}" alt="Imagen del Producto" class="rounded img-fluid" style="max-height: 160px;">
        <h5>{{ product.title }}</h5>
        <div class="mt-3 info">
            <span class="text1 d-block">{{ product.description }}</span>
        </div>
        <div class="cost mt-3 text-dark">
            <span>${{ product.price }}</span>
        </div>         
    </div>
    {% if user.is_superuser %}
        <a class="p-3 producto text-center text-white mt-3 btn mt-auto" href="{% url 'products:edit' product.slug %}">
            ACTUALIZAR
        </a>
        <a class="p-3 producto text-center text-white mt-1 btn cursor mt-auto" href="{% url 'products:delete' product.slug %}">
            ELIMINAR
        </a>
    {% else %}
        <a class="p-3 producto text-center text-white mt-3 cursor btn mt-auto" href="{% url 'products:product' product.slug %}">
            VER
        </a>
    {% endif %}
</div>