<form method="post" action="{% url 'carts:add' %}">
    {% csrf_token %}
    <input type="hidden" name="product_id" value="{{ product.id }}">
    <div style="width:140px">
        <div class="d-flex flex-row bd-highlight mb-3">
            <button type="button" class="btn btn-info bd-highlight" id="remove">-</button>
            <input type="number" value="1" class="form-control bd-highlight text-center" id="quantity" name="quantity" readonly>
            <button type="button" class="btn btn-info bd-highlight" id="add">+</button>
        </div>
        <div class="mt-2 d-flex">
            <button type="submit" class="btn btn-warning">Agregar al carrito</button>
        </div>
    </div>
</form>