{% url 'login' as login %}
{% url 'register' as register %}
{% url 'logout' as logout %}
{% url 'carts:cart' as cart %}
{% url 'index' as index %}
{% load static %}
{% url 'index' as index %}
{% url 'about' as about %}
{% url 'products:new' as new %}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>  
    <a class="navbar-brand mb-0 h1" href="{{ index }}">Jaguarete KAA</a>
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav me-auto mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == index %}active{% endif %}" href="{{ index }}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Categorías
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'products:search' %}?q=Zapatillas">Zapatillas</a></li>
            <li><a class="dropdown-item" href="{% url 'products:search' %}?q=Colchones">Colchones</a></li>
            <li><a class="dropdown-item" href="{% url 'products:search' %}?q=Ropa">Ropa</a></li>
            <li><a class="dropdown-item" href="{% url 'products:search' %}?q=Electronica">Electrónica</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == about %}active{% endif %}" href="{{ about }}">Acerca de...</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="mailto:jaguarete@correo.com">Contacto</a>
        </li>
        {% if user.is_superuser %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == new %}active{% endif %}" href="{{ new }}">Nuevo Producto</a>
        </li>
        {% endif %}
      </ul>
      <ul class="navbar-nav ms-auto mb-0 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link">
          <span class="fas fa-user"></span>
          {{user.username}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == logout %}active{% endif %}" href="{{ logout }}">
          <span class="fas fa-sign-in-alt"></span>
          Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == login %}active{% endif %}" href="{{ login }}">
          <span class="fas fa-user"></span>
          Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == register %}active{% endif %}" href="{{ register }}">
          <span class="fas fa-user-plus"></span>
          Registro</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link {% if request.path == cart %}active{% endif %}" href="{{ cart }}">
          <span class="fas fa-shopping-cart"></span>
          Carrito</a>
        </li>  
      </ul>
      <form class="d-flex" action="{% url 'products:search' %}">
        <input class="form-control me-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="q" value="{{ query }}">
        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>