{% extends 'base.html' %}
{% block content %}
<h1>Editar producto</h1>
<form action="{% url 'products:edit_product' product.slug %}" method="post">
    {% csrf_token %}
    {% for field in form %}
        <div class="mb-3">
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        </div>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Aplicar cambios">
</form>
{% endblock %}