{% extends 'base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <form enctype="multipart/form-data" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="mb-3">
            <span class="text-white">{{ field.label_tag }}</span>
            {{ field }}
            {% if field.errors %}
                <span class="text-white">{{ field.errors }}</span>
            {% endif %}
        </div>
        {% endfor %}
    <button type="submit" class="btn btn-primary">Cargar Producto</button>
</form>
{% endblock %}