{% extends 'base.html' %}
{% block content %}
    <h1>{{ product.title }}</h1>
    <div class="col" style="width:140px">
        {% if product.image %}
            <img src="{{ product.image.url }}" alt="Imagen del producto" width="200" height="200">
        {% endif %}
    </div>
    <div class="col">
        <p>{{ product.description }}</p>
        <h5 class="font-weight-bold">
            Precio: <span class="text-danger">${{ product.price }}</span>
        </h5>
        <div class="">
            {% include 'carts/snippets/add.html' %}
        </div>
    </div>
{% endblock %}