body{
    background: #000;
}

.card{
   border:none;
   outline:none;
   background-color: #fff;
   border-radius: 20px;
   transition: transform .3s; 
}

.card:hover{
    transform: translateY(-15px);
    transition: transform .3s;
}

.text1{
    font-size: 13px;
    color: #cbcbcb;
}

.info{
    line-height: 17px;
}

.cost span{
    color: #fb3531;
    font-weight: bold;
    font-size: 20px;
}

.producto{
    background: #dc3545;
}

.producto:hover{
    opacity: .8; 
}

.cursor{
    cursor: pointer;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

h1, h2, h3{
    color: #fff;
}

p{
    color: #fff;
}

.form-label{
    color: #fff;
}